name: Fix HTTPS

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  cleanup:
    runs-on: ubuntu-latest
    steps:
      - name: Force HTTPS Redirect
        run: |
          curl -I -X GET "https://cdn.statically.io/gh/digiitaltools/ads/main/semangka.js" \
          -H "X-Forwarded-Proto: https" \
          -H "Upgrade-Insecure-Requests: 1"
          
          curl -I "https://cdn.statically.io/gh/digiitaltools/ads@main/semangka.js"