rm .github/workflows/purge.yml

@'
name: Fix-HTTPS-Purge
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  cleanup:
    runs-on: ubuntu-latest
    steps:
      - name: Purge Cache
        run: |
          curl -I https://purge.jsdelivr.net/gh/digiitaltools/ads@main/semangka.js
'@ | Out-File -FilePath .github/workflows/fix-https.yml -Encoding utf8