name: Fix HTTPS

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  cleanup:
    runs-on: ubuntu-latest
    steps:
      - name: Purge jsDelivr Cache
        run: |
          curl -I https://purge.jsdelivr.net/gh/digiitaltools/ads@main/semangka.js

      - name: Ping Statically to Refresh
        run: |
          curl -I "https://cdn.statically.io/gh/digiitaltools/ads@main/semangka.js?${{ github.sha }}"