@'
name: Fix HTTPS

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  cleanup:
    runs-on: ubuntu-latest
    steps:
      - name: Ping Statically (Format /main/)
        run: |
          curl -I "https://cdn.statically.io/gh/digiitaltools/ads/main/semangka.js"
          curl -I "https://cdn.statically.io/gh/digiitaltools/ads/main/semangka.js?purge"
'@ | Out-File -FilePath .github/workflows/fix-https.yml -Encoding utf8