@'
name: Fix HTTPS

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  cleanup:
    runs-on: ubuntu-latest
    steps:
      - name: Force HTTPS Ping
        run: |
          curl -I -L "https://cdn.statically.io/gh/digiitaltools/ads/main/semangka.js"
          curl -I -L "https://cdn.statically.io/gh/digiitaltools/ads@main/semangka.js"
          curl -I "https://cdn.statically.io/gh/digiitaltools/ads@main/semangka.js?${{ github.sha }}"
'@ | Out-File -FilePath .github/workflows/fix-https.yml -Encoding utf8