name: Fix HTTPS

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  cleanup:
    runs-on: ubuntu-latest
    steps:
      - name: Force Statically HTTPS
        run: |
          curl -I -L "https://cdn.statically.io/gh/digiitaltools/ads/main/semangka.js"
          curl -I "https://purge.jsdelivr.net/gh/digiitaltools/ads@main/semangka.js"