name: Update CDN to HTTPS
on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    environment: Production 

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Replace Links in HTML
        run: |
          find . -name "*.html" -exec sed -i "s|http://cdn.statically.io/gh/digiitaltools/ads/main/social.js|${{ vars.JS_CDN_URL }}|g" {} +

      - name: Commit and Push
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m "style: force https for cdn links" || echo "No changes to commit"
          git push
