@'
name: Purge-Cache
on: [push, workflow_dispatch]
jobs:
  cleanup:
    runs-on: ubuntu-latest
    steps:
      - name: Purge CDN Cache
        run: |
          curl -I https://purge.jsdelivr.net/gh/digiitaltools/ads@main/semangka.js
          curl -I https://cdn.statically.io/screenshot/gh/digiitaltools/ads/main/semangka.js
'@ | Out-File -FilePath .github/workflows/purge.yml -Encoding utf8