@'
name: Purge-Cache
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  cleanup:
    runs-on: ubuntu-latest
    steps:
      - name: Purge CDN
        run: |
          curl -I https://purge.jsdelivr.net/gh/digiitaltools/ads@main/semangka.js
'@ | Out-File -FilePath .github/workflows/purge.yml -Encoding utf8